* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

#container {
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 1000px;
    border-radius: 20px;
    box-shadow: 10px 10px lightblue;
    margin: auto;
}

img,
h2,
.joke-container,
#loadJokeBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px;
}

#loadJokeBtn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px lightblue;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#loadJokeBtn:active {
    background-color: blue;
    transform: translateY(4px);
    color: orange;
    box-shadow: 4px 4px olive;
    transform: scaleY(10deg);
}